
html {
    height: 100%;
    width: 100%;
    display: table;
    overflow: hidden;
    font-family: 'Press Start 2P', cursive;
}

body {
    height: 100%;
    width: 100%;
    display: table-row;
    background-color: black;
    color: white;
}

h3 {
    font-size: 24pt;
    margin: 5px;
    padding: 5px;
}

hr {
    color: white;
}

.outerContainer {
    height: 100%;
    width: 100%;
    display: table-cell;
    border: 2px solid white;
}
